.image-header-back {
  background: url("../src/Images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.blur-bg {
  z-index: 6;
  color: rgb(255, 255, 255);
  background-color: rgba(4, 45, 137, 0.51);
  width: 100%;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  backdrop-filter: none;
  filter: none;
  transform-origin: 50% 50% 0px;
  opacity: 1;
  transform: translate(0px);
  visibility: visible;
}

@media (max-width: 575px) {
  .image-header-back {
  }
}
